# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore Python bytecode directories
__pycache__/
**/__pycache__/
*.pyc
venv/
__pycache__/
*.pyc
uploads/
content_data/
style_data/
*.zip
.ipynb_checkpoints/